# No .gitignore itself
# .gitignore

# No .pyc files
*.pyc

# No .idea/ folder
.idea/

# No merge files
*BACKUP*
*BASE*
*LOCAL*
*REMOTE*

# Other folders to ignore
*.py.orig
*.csv
*.xlsx
output/
test/
logs/
